<h1>Check out <%= @album.name %></h1>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="DELETE BAND">
</form>

<a href="<%= edit_album_url(@album) %>">Edit Band</a>

<% @album.albums.each do |album| %>
  <a href="<%= album_url(album) %>"><%= album.name %></a>
<% end %>

<!-- <label>
  Feel free to add a track!
  <a href="new_track_url">Add an album</a>
</label> -->
